$slide-width: 1920px;
$slide-height: 720px;
$bullet-color: #cef;
$bullet-active-color: darken($bullet-color, 20%);
$transition-time: 0.5s;

$images: ('../images/slide-1.jpg',
  '../images/slide-2.jpg',
  '../images/slide-3.jpg',
  '../images/slide-4.png',
  '../images/slide-5.png');